.all-btn-el.add-to-cart.product-card-buy {
  display: block;
  border-radius: 0px;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.product-cards {
  transition: 0.3s ease;
}

.product-cards:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.out-of-stock-cards,
.out-of-stock-cards-text {
  position: absolute;
  display: none;
}

.product-cards:hover .out-of-stock-cards {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: var(--red-alert);
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: not-allowed;
}

.product-cards:hover .out-of-stock-cards-text {
  display: block;
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  height: 3rem;
  top: calc(50% - 1.5rem);
  left: 1rem;
  transform: rotate(-30deg);
  color: var(--pure-red);
  cursor: not-allowed;
}

.wishlist-btn {
  display: block;
  padding: 0.7rem 1rem;
  border: 3px solid var(--blue1000);
  color: var(--blue1000);
  width: 95%;
  margin: 0.5rem auto;
  font-size: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.wishlist-btn:hover {
  border: 3px solid var(--blue-alert);
  color: var(--blue-alert);
}

.best-seller-head {
  font-size: 2rem;
}

.all-btn-el.add-to-cart.product-card-buy {
  padding: 0.7rem 1rem;
  border-radius: 0px 0px 5px 5px;
  font-size: 1rem;
  width: 100%;
}

.card-price {
  font-size: 1.5rem;
}

.product-display-img-container {
  height: 10rem;
  width: max-content;
}

.product-card-head {
  font-size: 1.5rem;
  color: var(--grey700);
}

.best-selling {
  width: 90%;
  margin: 2rem auto;
}

.product-cards {
  width: 13rem;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px var(--grey);
  position: relative;
}

.child-wish-list-conatiner {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 999rem;
}

.child-wish-list-heart {
  color: var(--red-alert);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.child-wish-list-heart-clicked {
  color: var(--pure-red);
  transform: scale(1.5);
  transition: 0.2s ease-in-out;
}

.same-star.chng-pad {
  padding: 0.3rem 0.5rem;
  color: var(--white);
}

.brand-img-container {
  height: 15rem;
  width: max-content;
  margin: 0 auto;
}

.brand-logo-container {
  justify-content: center;
}

.product-container {
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 3rem;
}

.all-btn-el.add-to-cart.product-card-buy {
  display: block;
  border-radius: 0px;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.product-cards {
  transition: 0.3s ease;
}

.product-cards:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.out-of-stock-cards,
.out-of-stock-cards-text {
  position: absolute;
  display: none;
}

.product-cards:hover .out-of-stock-cards {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: var(--red-alert);
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: not-allowed;
}

.product-cards:hover .out-of-stock-cards-text {
  display: block;
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
  height: 3rem;
  top: calc(50% - 1.5rem);
  left: 1rem;
  transform: rotate(-30deg);
  color: var(--pure-red);
  cursor: not-allowed;
}

.wishlist-btn {
  display: block;
  padding: 0.7rem 1rem;
  border: 3px solid var(--blue1000);
  color: var(--blue1000);
  width: 95%;
  margin: 0.5rem auto;
  font-size: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.wishlist-btn:hover {
  border: 3px solid var(--blue-alert);
  color: var(--blue-alert);
}

.fliter-options,
.fliter-options > * {
  width: max-content;
}

.fliter-options > * input,
.fliter-options > input {
  cursor: pointer;
}

.filter-unmatched {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.width-take-all {
  width: 100%;
}

.clear-filter-btn {
  margin-right: 10rem;
}

.floating-action-btn.floating-action-btn {
  background-color: rgb(217, 217, 243);
  color: rgb(55, 55, 66);
}

.floating-action-btn:active {
  padding: 1.1rem 1.5rem 0.9rem 1.5rem;
  box-shadow: inset 1px 3px 3px 2px var(--grey400);
}
